.container{
    min-height: 82.4vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}
h1{
    text-align: center;
    margin: 12px 0;
}
.myform{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.myinput{
    width: 40%;
    padding: 9px;
    margin: 8px;
    font-size: 16px;
    border:2px solid black;
    border-radius: 10px;
    outline: none;
}
.btn{
    font-size: 18px;
    border: 2px solid black;
    padding:8px 16px;
    border-radius: 10px;
    color: white;
    background-color: gray;
    cursor: pointer;
    outline: none;
    margin: 20px;
}